---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Marquee from '../components/Marquee.astro';
import Hero from '../components/Hero.astro';
import PostCard from '../components/Postcard.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import '../styles/global.css';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

//const latest = posts.slice(0, 4);
const [featured, ...rest] = posts;
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body class="bg-pink-page min-h-screen font-body flex flex-col">

    <Header />
    <Marquee />

    <main class="w-full px-4 md:px-8 flex-1">

      {featured && (
        <div class="w-full pt-6">
          <Hero
            title={featured.data.title}
            excerpt={featured.data.description}
            date={featured.data.pubDate}
            category="Destacado"
            slug={featured.id}
            heroImage={featured.data.heroImage}
            heroImageAlt={featured.data.heroImageAlt}
          />
        </div>
      )}

      {rest.length > 0 && (
        <div class="mt-6">
          <p class="font-body text-[10px] font-bold uppercase tracking-[0.2em] text-pink-main mb-4">
            ✦ otros posts
          </p>

          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            {rest.map(post => (
              <PostCard
                  title={post.data.title}
                  excerpt={post.data.description}
                  date={post.data.pubDate}
                  category="Blog"
                  slug={post.id}
                  heroImage={post.data.heroImage}
                  heroImageAlt={post.data.heroImageAlt}
              />
            ))}
          </div>
        </div>
      )}

    </main>

    <Footer />

  </body>
</html>
